<% if params[:id].present? %>
	<form action="<%= create_comments_path %>" method = "post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		
		<input name="page_id" value="<%= params[:id]%>" type="hidden">
		<input name="project_id" value="<%= params[:project_id]%>" type="hidden">
		<input name="user_id" value="<%= User.current.id%>" type="hidden">

		<h2>Comments section</h2>
		<div class="row">
			<div class="col-md-10">
				<textarea placeholder="comment" name="wiki_page[comment]" style="width: 100%;height: 60px;"></textarea>
			</div>
			<div class="col-md-2">
				<button type="submit">Add Comment</button>
			</div>
		</div>
	</form>
	<%if @wiki_pages_comments.blank?%>
		<% @wiki_pages_comments = WikiCommentsHelper.show_comments(@wiki,params[:id])%>
	<%end%>
	<%if @wiki_pages_comments.present?%>
		<div id="comments" style="margin-bottom:16px;margin-top:16px;">
			<h3 class="comments">Comments</h3>
			    <% @wiki_pages_comments.order('id ASC').each do |comment| %>
			    <h4>Added by <a class="user active" href="/users/<%=comment.author.id%>"><%= comment.author.firstname%>, <%= comment.created_on.strftime("%-d/%-m/%y: %H:%M %Z")%></a></h4>
			    <div class="wiki">
			    	<p><%= comment.comments%></p>
			    </div>
			    <% end %>
			</div>
	<%end%>
<%end%>
